.component-variant-scope-list {
  display: flex;
  flex-direction: column;
}

.component-variant-scope-list-empty {
  padding: 40px;
  text-align: center;
  color: #999;
  font-style: italic;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}
